/* * {
    background-color: rgb(3,3,3);
    font-family: sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-weight: bold;
}

h1 {
    top: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(217,255,5);
}

nav {
    text-align: center;
    margin-bottom: 30px;
} */

/* #logout, #profile, #balance, #buys, #addBalance {
    cursor: pointer;
    text-decoration: underline;
    margin-right: 20px;
    display: inline-block;
    color: cornflowerblue;
}
 */
