body {
    margin: 0;
    padding:0;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    font-family: sans-serif;
    background-position: center;
    background-size: cover;
   /* // background: linear-gradient(to bottom, rgb(54, 41, 130), rgb(34, 31, 33)); */
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eac2616f-9ca4-4a89-84d5-7bbc482fb1b2/df2dmoo-3403837f-2435-4c6b-9bd6-b82891aabe2d.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VhYzI2MTZmLTljYTQtNGE4OS04NGQ1LTdiYmM0ODJmYjFiMlwvZGYyZG1vby0zNDAzODM3Zi0yNDM1LTRjNmItOWJkNi1iODI4OTFhYWJlMmQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Rn4fVOkXvtPjkkBt7uBdxdZlFvRpqVNg3TBuhnr5R_E");
}

.main {
    width: 400px;
    height: 600px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 5px 20px 50px blue;
}

#chk {
    display: none;
}

.create {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: white;
    font-size: 2.3rem;
    justify-content: center;
    display: flex;
    margin:60px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease in ease-in-out;
}
input {
    width: 60%;
    height: 35px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    margin: #fff;
    background: rgb(54, 41, 130);
    font-size: 1em;
    font-weight: bold;
    margin-top: 15px;
    outline: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: rgb(54, 41, 130);
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    outline:none;
    border:none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 30px;
}

button:hover{
    background: #6d44b8;
}

.login {
    margin-top: 30px;
    height: 700px;
    background: #eee;
    border-radius: 60%/10%;
    transform: translateY(-180px);
    transition: 0.8s ease-in-out;
}

.login form{
    text-align: center;
}

.login label {
    color: rgb(41, 50, 131);
    transform: scale(0.6);
}

#chk:checked ~.login  {
    transform: translateY(-500px);
}

#chk:checked ~ .login label {
    transform: scale(1);
}

#chk:checked ~ .signup label {
    transform: scale(1);
}

#forgot {
    font-weight: bold;
    text-decoration: none;
}

#forgot:hover{
    cursor: pointer;
    color: #6d44b8;
}

.captcha-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

#image-captcha{
    border-radius: 10px;
    max-width: 60%;
    height: auto;
    border: 1px solid #ccc;
}

.login #awnser-captcha{
    background: #fff;
    border: 1px solid rgb(54, 41 ,130);
    color: #333;
    margin-top: 5px;
}

.captcha-container-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

#image-captcha-signup{
    border-radius: 10px;
    max-width: 60%;
    height: auto;
    border: 1px solid #ccc;
}

.login #awnser-captcha-signup{
    background: #fff;
    border: 1px solid rgb(54, 41 ,130);
    color: #333;
    margin-top: 5px;
}